@keyframes center-motion {
0.0000000% {opacity:1.00000;transform:matrix(0.920481,0.000061,-0.000061,0.920481,76.320635,94.993220)}
0.4237288% {opacity:1.00000;transform:matrix(0.921293,-0.000433,0.000433,0.921293,75.358645,94.095792)}
0.8474576% {opacity:1.00000;transform:matrix(0.923678,0.000786,-0.000786,0.923678,73.581033,90.196357)}
1.2711864% {opacity:1.00000;transform:matrix(0.927020,-0.000322,0.000322,0.927020,69.928382,87.842618)}
1.6949153% {opacity:1.00000;transform:matrix(0.931131,0.000616,-0.000616,0.931131,66.341110,81.402693)}
2.1186441% {opacity:1.00000;transform:matrix(0.935388,-0.000913,0.000913,0.935388,61.661822,78.030410)}
2.5423729% {opacity:1.00000;transform:matrix(0.940010,0.000079,-0.000079,0.940010,57.600849,71.373657)}
2.9661017% {opacity:1.00000;transform:matrix(0.944619,0.000772,-0.000772,0.944619,53.432486,64.982550)}
3.3898305% {opacity:1.00000;transform:matrix(0.949102,-0.000928,0.000928,0.949102,48.493514,62.646870)}
3.8135593% {opacity:1.00000;transform:matrix(0.953603,-0.000057,0.000057,0.953603,44.496548,56.150857)}
4.2372881% {opacity:1.00000;transform:matrix(0.957815,0.000782,-0.000782,0.957815,40.772965,49.791467)}
4.6610169% {opacity:1.00000;transform:matrix(0.961978,-0.000707,0.000707,0.961978,36.213581,46.405499)}
5.0847458% {opacity:1.00000;transform:matrix(0.965526,0.000578,-0.000578,0.965526,33.291047,40.917425)}
5.5084746% {opacity:1.00000;transform:matrix(0.968905,-0.000690,0.000690,0.968905,29.575989,38.661892)}
5.9322034% {opacity:1.00000;transform:matrix(0.972086,0.000634,-0.000634,0.972086,27.010919,33.265025)}
6.3559322% {opacity:1.00000;transform:matrix(0.975091,-0.000436,0.000436,0.975091,23.738666,31.001708)}
6.7796610% {opacity:1.00000;transform:matrix(0.977702,0.001038,-0.001038,0.977702,21.811137,25.738446)}
7.2033898% {opacity:1.00000;transform:matrix(0.980186,0.000021,-0.000021,0.980186,19.025872,23.622647)}
7.6271186% {opacity:1.00000;transform:matrix(0.982323,-0.000596,0.000596,0.982323,16.719041,22.309545)}
8.0508475% {opacity:1.00000;transform:matrix(0.984452,0.001094,-0.001094,0.984452,15.358627,18.033587)}
8.4745763% {opacity:1.00000;transform:matrix(0.986076,0.000593,-0.000593,0.986076,13.587434,15.811165)}
8.8983051% {opacity:1.00000;transform:matrix(0.987643,-0.000228,0.000228,0.987643,11.762750,14.901180)}
9.3220339% {opacity:1.00000;transform:matrix(0.989221,-0.000594,0.000594,0.989221,10.118621,13.603767)}
9.7457627% {opacity:1.00000;transform:matrix(0.990562,0.001243,-0.001243,0.990562,9.516814,10.509589)}
10.1694915% {opacity:1.00000;transform:matrix(0.991498,0.000808,-0.000808,0.991498,8.440373,9.510383)}
10.5932203% {opacity:1.00000;transform:matrix(0.992631,0.000557,-0.000557,0.992631,7.259842,8.278005)}
11.0169492% {opacity:1.00000;transform:matrix(0.993436,0.000210,-0.000210,0.993436,6.358712,8.258640)}
11.4406780% {opacity:1.00000;transform:matrix(0.994242,-0.000058,0.000058,0.994242,5.496080,7.166932)}
11.8644068% {opacity:1.00000;transform:matrix(0.995037,-0.000297,0.000297,0.995037,4.635245,7.062424)}
12.2881356% {opacity:1.00000;transform:matrix(0.995702,-0.000446,0.000446,0.995702,3.931926,5.934152)}
12.7118644% {opacity:1.00000;transform:matrix(0.996132,-0.000677,0.000677,0.996132,3.429150,5.961719)}
13.1355932% {opacity:1.00000;transform:matrix(0.996695,-0.000911,0.000911,0.996695,2.803483,4.930206)}
13.5593220% {opacity:1.00000;transform:matrix(0.997067,0.001372,-0.001372,0.997067,3.329429,1.845320)}
13.9830508% {opacity:1.00000;transform:matrix(0.997416,0.001212,-0.001212,0.997416,2.934238,1.841951)}
14.4067797% {opacity:1.00000;transform:matrix(0.997793,0.001083,-0.001083,0.997793,2.512289,1.803606)}
14.8305085% {opacity:1.00000;transform:matrix(0.998115,0.000990,-0.000990,0.998115,2.179770,0.752439)}
15.2542373% {opacity:1.00000;transform:matrix(0.998298,0.000926,-0.000926,0.998298,1.985534,0.733813)}
15.6779661% {opacity:1.00000;transform:matrix(0.998570,0.000849,-0.000849,0.998570,1.696981,0.694834)}
16.1016949% {opacity:1.00000;transform:matrix(0.998641,0.000799,-0.000799,0.998641,1.617044,0.709750)}
16.5254237% {opacity:1.00000;transform:matrix(0.998717,0.000755,-0.000755,0.998717,1.525455,0.715858)}
16.9491525% {opacity:1.00000;transform:matrix(0.999184,0.000746,-0.000746,0.999184,1.022299,0.536666)}
17.3728814% {opacity:1.00000;transform:matrix(0.999247,0.000714,-0.000714,0.999247,0.955438,0.539658)}
17.7966102% {opacity:1.00000;transform:matrix(0.999310,0.000658,-0.000658,0.999310,0.879987,0.562128)}
18.2203390% {opacity:1.00000;transform:matrix(0.999454,0.000579,-0.000579,0.999454,0.739847,-0.427974)}
18.6440678% {opacity:1.00000;transform:matrix(0.999456,0.000579,-0.000579,0.999456,0.737508,-0.428275)}
19.0677966% {opacity:1.00000;transform:matrix(0.999598,0.000559,-0.000559,0.999598,0.585233,-0.462574)}
19.4915254% {opacity:1.00000;transform:matrix(0.999643,0.000219,-0.000219,0.999643,0.417265,-0.054656)}
19.9152542% {opacity:1.00000;transform:matrix(0.999720,0.000172,-0.000172,0.999720,0.325288,-0.038685)}
20.3389831% {opacity:1.00000;transform:matrix(0.999746,0.000157,-0.000157,0.999746,0.297823,-0.036059)}
20.7627119% {opacity:1.00000;transform:matrix(0.999870,0.000141,-0.000141,0.999870,0.164306,-0.069121)}
21.1864407% {opacity:1.00000;transform:matrix(0.999884,0.000123,-0.000123,0.999884,0.145701,-0.059155)}
21.6101695% {opacity:1.00000;transform:matrix(0.999899,0.000103,-0.000103,0.999899,0.125002,-0.047869)}
22.0338983% {opacity:1.00000;transform:matrix(0.999907,0.000091,-0.000091,0.999907,0.113326,-0.040508)}
22.4576271% {opacity:1.00000;transform:matrix(0.999919,0.000078,-0.000078,0.999919,0.098686,-0.034002)}
22.8813559% {opacity:1.00000;transform:matrix(0.999932,0.000065,-0.000065,0.999932,0.082573,-0.027965)}
23.3050847% {opacity:1.00000;transform:matrix(0.999946,0.000053,-0.000053,0.999946,0.065912,-0.023529)}
23.7288136% {opacity:1.00000;transform:matrix(0.999947,0.000052,-0.000052,0.999947,0.065405,-0.022493)}
24.1525424% {opacity:1.00000;transform:matrix(0.999945,0.000049,-0.000049,0.999945,0.065710,-0.019326)}
24.5762712% {opacity:1.00000;transform:matrix(0.999950,0.000046,-0.000046,0.999950,0.061009,-0.018826)}
25.0000000% {opacity:1.00000;transform:matrix(0.999953,0.000044,-0.000044,0.999953,0.057455,-0.017868)}
25.4237288% {opacity:1.00000;transform:matrix(0.999957,0.000041,-0.000041,0.999957,0.053070,-0.017907)}
25.8474576% {opacity:1.00000;transform:matrix(0.999959,0.000036,-0.000036,0.999959,0.049890,-0.013909)}
26.2711864% {opacity:1.00000;transform:matrix(0.999968,0.000022,-0.000022,0.999968,0.036669,-0.005810)}
26.6949153% {opacity:1.00000;transform:matrix(0.999975,0.000012,-0.000012,0.999975,0.026373,-0.000406)}
27.1186441% {opacity:1.00000;transform:matrix(0.999984,0.000010,-0.000010,0.999984,0.018472,-0.001720)}
27.5423729% {opacity:1.00000;transform:matrix(0.999991,0.000009,-0.000009,0.999991,0.012248,-0.003814)}
27.9661017% {opacity:1.00000;transform:matrix(0.999992,0.000006,-0.000006,0.999992,0.009577,-0.001875)}
28.3898305% {opacity:1.00000;transform:matrix(0.999994,0.000005,-0.000005,0.999994,0.007416,-0.001127)}
28.8135593% {opacity:1.00000;transform:matrix(0.999995,0.000003,-0.000003,0.999995,0.005688,0.000311)}
29.2372881% {opacity:1.00000;transform:matrix(0.999996,0.000001,-0.000001,0.999996,0.003689,0.001459)}
29.6610169% {opacity:1.00000;transform:matrix(0.999999,0.000001,-0.000001,0.999999,0.001176,0.000653)}
30.0847458% {opacity:1.00000;transform:matrix(1.000000,0.000002,-0.000002,1.000000,0.000291,-0.000814)}
30.5084746% {opacity:1.00000;transform:matrix(1.000001,0.000003,-0.000003,1.000001,0.000001,-0.002516)}
30.9322034% {opacity:1.00000;transform:matrix(1.000001,0.000003,-0.000003,1.000001,0.000966,-0.002779)}
31.3559322% {opacity:1.00000;transform:matrix(1.000001,-0.000003,0.000003,1.000001,-0.001935,0.002449)}
31.7796610% {opacity:1.00000;transform:matrix(0.999999,-0.000001,0.000001,0.999999,0.000865,0.001932)}
32.2033898% {opacity:1.00000;transform:matrix(0.999999,-0.000002,0.000002,0.999999,-0.000261,0.002415)}
32.6271186% {opacity:1.00000;transform:matrix(0.999999,-0.000005,0.000005,0.999999,-0.001240,0.004822)}
33.0508475% {opacity:1.00000;transform:matrix(1.000000,-0.000005,0.000005,1.000000,-0.001132,0.004397)}
33.4745763% {opacity:1.00000;transform:matrix(0.999999,-0.000004,0.000004,0.999999,-0.001027,0.004297)}
33.8983051% {opacity:1.00000;transform:matrix(1.000000,-0.000004,0.000004,1.000000,-0.001173,0.003961)}
34.3220339% {opacity:1.00000;transform:matrix(1.000001,-0.000004,0.000004,1.000001,-0.001688,0.003286)}
34.7457627% {opacity:1.00000;transform:matrix(1.000001,-0.000004,0.000004,1.000001,-0.001659,0.003283)}
35.1694915% {opacity:1.00000;transform:matrix(1.000001,-0.000004,0.000004,1.000001,-0.001727,0.003169)}
35.5932203% {opacity:1.00000;transform:matrix(1.000001,-0.000004,0.000004,1.000001,-0.001702,0.003163)}
36.0169492% {opacity:1.00000;transform:matrix(1.000001,-0.000004,0.000004,1.000001,-0.001675,0.003162)}
36.4406780% {opacity:1.00000;transform:matrix(1.000001,-0.000004,0.000004,1.000001,-0.001697,0.003188)}
36.8644068% {opacity:1.00000;transform:matrix(1.000001,-0.000003,0.000003,1.000001,-0.001750,0.002944)}
37.2881356% {opacity:1.00000;transform:matrix(1.000001,-0.000003,0.000003,1.000001,-0.001780,0.003058)}
37.7118644% {opacity:1.00000;transform:matrix(1.000001,-0.000003,0.000003,1.000001,-0.001674,0.002814)}
38.1355932% {opacity:1.00000;transform:matrix(1.000001,-0.000003,0.000003,1.000001,-0.001793,0.002679)}
38.5593220% {opacity:1.00000;transform:matrix(1.000001,-0.000003,0.000003,1.000001,-0.001634,0.002672)}
38.9830508% {opacity:1.00000;transform:matrix(1.000001,-0.000003,0.000003,1.000001,-0.001392,0.002738)}
39.4067797% {opacity:1.00000;transform:matrix(1.000001,-0.000003,0.000003,1.000001,-0.001389,0.002714)}
39.8305085% {opacity:1.00000;transform:matrix(1.000001,-0.000003,0.000003,1.000001,-0.001355,0.002426)}
40.2542373% {opacity:1.00000;transform:matrix(1.000000,-0.000003,0.000003,1.000000,-0.001253,0.002646)}
40.6779661% {opacity:1.00000;transform:matrix(1.000000,-0.000003,0.000003,1.000000,-0.001253,0.002643)}
41.1016949% {opacity:1.00000;transform:matrix(1.000000,-0.000003,0.000003,1.000000,-0.001095,0.002496)}
41.5254237% {opacity:1.00000;transform:matrix(1.000000,-0.000002,0.000002,1.000000,-0.000974,0.002130)}
41.9491525% {opacity:1.00000;transform:matrix(1.000000,-0.000002,0.000002,1.000000,-0.000961,0.002149)}
42.3728814% {opacity:1.00000;transform:matrix(1.000000,-0.000002,0.000002,1.000000,-0.001013,0.002230)}
42.7966102% {opacity:1.00000;transform:matrix(1.000000,-0.000002,0.000002,1.000000,-0.000988,0.002236)}
43.2203390% {opacity:1.00000;transform:matrix(1.000001,-0.000002,0.000002,1.000001,-0.000942,0.001464)}
43.6440678% {opacity:1.00000;transform:matrix(1.000000,-0.000002,0.000002,1.000000,-0.000777,0.001516)}
44.0677966% {opacity:1.00000;transform:matrix(1.000000,-0.000001,0.000001,1.000000,-0.000518,0.001296)}
44.4915254% {opacity:1.00000;transform:matrix(1.000000,-0.000001,0.000001,1.000000,-0.000593,0.001210)}
44.9152542% {opacity:1.00000;transform:matrix(1.000000,-0.000001,0.000001,1.000000,-0.000729,0.001212)}
45.3389831% {opacity:1.00000;transform:matrix(1.000000,-0.000001,0.000001,1.000000,-0.000551,0.001141)}
45.7627119% {opacity:1.00000;transform:matrix(1.000000,-0.000001,0.000001,1.000000,-0.000557,0.001361)}
46.1864407% {opacity:1.00000;transform:matrix(1.000000,-0.000001,0.000001,1.000000,-0.000270,0.001440)}
46.6101695% {opacity:1.00000;transform:matrix(1.000000,-0.000001,0.000001,1.000000,-0.000116,0.001348)}
47.0338983% {opacity:1.00000;transform:matrix(1.000000,-0.000001,0.000001,1.000000,-0.000248,0.001116)}
47.4576271% {opacity:1.00000;transform:matrix(1.000000,-0.000001,0.000001,1.000000,0.000055,0.000986)}
47.8813559% {opacity:1.00000;transform:matrix(1.000000,-0.000001,0.000001,1.000000,0.000264,0.000998)}
48.3050847% {opacity:1.00000;transform:matrix(1.000000,-0.000001,0.000001,1.000000,0.000107,0.000809)}
48.7288136% {opacity:1.00000;transform:matrix(1.000000,-0.000001,0.000001,1.000000,0.000230,0.000968)}
49.1525424% {opacity:1.00000;transform:matrix(1.000000,-0.000001,0.000001,1.000000,-0.000070,0.000839)}
49.5762712% {opacity:1.00000;transform:matrix(1.000000,-0.000001,0.000001,1.000000,-0.000191,0.000695)}
50.0000000% {opacity:1.00000;transform:matrix(1.000000,-0.000001,0.000001,1.000000,-0.000141,0.000519)}
50.4237288% {opacity:1.00000;transform:matrix(1.000000,-0.000000,0.000000,1.000000,-0.000144,0.000348)}
50.8474576% {opacity:1.00000;transform:matrix(1.000000,0.000000,0.000000,1.000000,0.000000,0.000000)}
51.2711864% {opacity:1.00000;transform:matrix(1.000000,-0.000000,0.000000,1.000000,0.000068,0.000165)}
51.6949153% {opacity:1.00000;transform:matrix(1.000000,-0.000000,0.000000,1.000000,0.000110,0.000188)}
52.1186441% {opacity:1.00000;transform:matrix(1.000000,-0.000000,0.000000,1.000000,-0.000052,0.000080)}
52.5423729% {opacity:1.00000;transform:matrix(1.000000,-0.000000,0.000000,1.000000,-0.000316,-0.000011)}
52.9661017% {opacity:1.00000;transform:matrix(1.000000,-0.000001,0.000001,1.000000,-0.000246,0.000523)}
53.3898305% {opacity:1.00000;transform:matrix(1.000000,-0.000001,0.000001,1.000000,-0.000318,0.000747)}
53.8135593% {opacity:1.00000;transform:matrix(1.000000,-0.000001,0.000001,1.000000,-0.000277,0.000798)}
54.2372881% {opacity:1.00000;transform:matrix(1.000000,-0.000001,0.000001,1.000000,-0.000591,0.000674)}
54.6610169% {opacity:1.00000;transform:matrix(1.000000,-0.000001,0.000001,1.000000,-0.000373,0.001076)}
55.0847458% {opacity:1.00000;transform:matrix(1.000000,-0.000001,0.000001,1.000000,-0.000705,0.000920)}
55.5084746% {opacity:1.00000;transform:matrix(1.000000,-0.000001,0.000001,1.000000,-0.000692,0.000926)}
55.9322034% {opacity:1.00000;transform:matrix(1.000000,-0.000001,0.000001,1.000000,-0.000819,0.000920)}
56.3559322% {opacity:1.00000;transform:matrix(1.000000,-0.000001,0.000001,1.000000,-0.000623,0.001031)}
56.7796610% {opacity:1.00000;transform:matrix(1.000000,-0.000001,0.000001,1.000000,-0.000640,0.000996)}
57.2033898% {opacity:1.00000;transform:matrix(1.000000,-0.000001,0.000001,1.000000,-0.000612,0.001040)}
57.6271186% {opacity:1.00000;transform:matrix(1.000000,-0.000001,0.000001,1.000000,-0.000607,0.001103)}
58.0508475% {opacity:1.00000;transform:matrix(1.000000,-0.000001,0.000001,1.000000,-0.000724,0.001154)}
58.4745763% {opacity:1.00000;transform:matrix(1.000001,-0.000002,0.000002,1.000001,-0.000914,0.001295)}
58.8983051% {opacity:1.00000;transform:matrix(1.000001,-0.000002,0.000002,1.000001,-0.000914,0.001295)}
59.3220339% {opacity:1.00000;transform:matrix(1.000001,-0.000002,0.000002,1.000001,-0.000948,0.001268)}
59.7457627% {opacity:1.00000;transform:matrix(1.000001,-0.000002,0.000002,1.000001,-0.000989,0.001218)}
60.1694915% {opacity:1.00000;transform:matrix(1.000000,-0.000002,0.000002,1.000000,-0.000886,0.001325)}
60.5932203% {opacity:1.00000;transform:matrix(1.000000,-0.000002,0.000002,1.000000,-0.000869,0.001343)}
61.0169492% {opacity:1.00000;transform:matrix(1.000001,-0.000002,0.000002,1.000001,-0.000924,0.001300)}
61.4406780% {opacity:1.00000;transform:matrix(1.000001,-0.000002,0.000002,1.000001,-0.000934,0.001267)}
61.8644068% {opacity:1.00000;transform:matrix(1.000000,-0.000002,0.000002,1.000000,-0.000576,0.001467)}
62.2881356% {opacity:1.00000;transform:matrix(1.000001,-0.000002,0.000002,1.000001,-0.000921,0.001235)}
62.7118644% {opacity:1.00000;transform:matrix(1.000001,-0.000002,0.000002,1.000001,-0.000993,0.001264)}
63.1355932% {opacity:1.00000;transform:matrix(1.000001,-0.000002,0.000002,1.000001,-0.001062,0.001435)}
63.5593220% {opacity:1.00000;transform:matrix(1.000001,-0.000002,0.000002,1.000001,-0.001176,0.001496)}
63.9830508% {opacity:1.00000;transform:matrix(1.000001,-0.000002,0.000002,1.000001,-0.001216,0.001485)}
64.4067797% {opacity:1.00000;transform:matrix(1.000001,-0.000002,0.000002,1.000001,-0.001646,0.001164)}
64.8305085% {opacity:1.00000;transform:matrix(1.000001,-0.000002,0.000002,1.000001,-0.001466,0.001375)}
65.2542373% {opacity:1.00000;transform:matrix(1.000001,-0.000002,0.000002,1.000001,-0.001565,0.001514)}
65.6779661% {opacity:1.00000;transform:matrix(1.000001,-0.000002,0.000002,1.000001,-0.001786,0.001383)}
66.1016949% {opacity:1.00000;transform:matrix(1.000002,-0.000002,0.000002,1.000002,-0.001937,0.001311)}
66.5254237% {opacity:1.00000;transform:matrix(1.000002,-0.000002,0.000002,1.000002,-0.002178,0.001267)}
66.9491525% {opacity:1.00000;transform:matrix(1.000002,-0.000002,0.000002,1.000002,-0.002000,0.001453)}
67.3728814% {opacity:1.00000;transform:matrix(1.000002,-0.000002,0.000002,1.000002,-0.002378,0.001126)}
67.7966102% {opacity:1.00000;transform:matrix(1.000002,-0.000002,0.000002,1.000002,-0.002441,0.001179)}
68.2203390% {opacity:1.00000;transform:matrix(1.000002,-0.000003,0.000003,1.000002,-0.002623,0.001547)}
68.6440678% {opacity:1.00000;transform:matrix(1.000002,-0.000002,0.000002,1.000002,-0.002566,0.001461)}
69.0677966% {opacity:1.00000;transform:matrix(1.000002,-0.000002,0.000002,1.000002,-0.002630,0.001452)}
69.4915254% {opacity:1.00000;transform:matrix(1.000002,-0.000003,0.000003,1.000002,-0.002882,0.001908)}
69.9152542% {opacity:1.00000;transform:matrix(1.000002,-0.000003,0.000003,1.000002,-0.002946,0.001964)}
70.3389831% {opacity:1.00000;transform:matrix(1.000002,-0.000003,0.000003,1.000002,-0.002906,0.001925)}
70.7627119% {opacity:1.00000;transform:matrix(1.000002,-0.000003,0.000003,1.000002,-0.002950,0.001925)}
71.1864407% {opacity:1.00000;transform:matrix(1.000002,-0.000003,0.000003,1.000002,-0.003058,0.001969)}
71.6101695% {opacity:1.00000;transform:matrix(1.000002,-0.000003,0.000003,1.000002,-0.003058,0.001969)}
72.0338983% {opacity:1.00000;transform:matrix(1.000002,-0.000003,0.000003,1.000002,-0.003058,0.001969)}
72.4576271% {opacity:1.00000;transform:matrix(1.000002,-0.000003,0.000003,1.000002,-0.003116,0.001926)}
72.8813559% {opacity:1.00000;transform:matrix(1.000003,-0.000003,0.000003,1.000003,-0.003257,0.001952)}
73.3050847% {opacity:1.00000;transform:matrix(1.000003,-0.000003,0.000003,1.000003,-0.003589,0.001582)}
73.7288136% {opacity:1.00000;transform:matrix(1.000003,-0.000003,0.000003,1.000003,-0.003858,0.001626)}
74.1525424% {opacity:1.00000;transform:matrix(1.000003,-0.000003,0.000003,1.000003,-0.004105,0.001809)}
74.5762712% {opacity:1.00000;transform:matrix(1.000004,-0.000003,0.000003,1.000004,-0.004199,0.001709)}
75.0000000% {opacity:1.00000;transform:matrix(1.000004,-0.000003,0.000003,1.000004,-0.004199,0.001709)}
75.4237288% {opacity:1.00000;transform:matrix(1.000004,-0.000004,0.000004,1.000004,-0.004218,0.001975)}
75.8474576% {opacity:1.00000;transform:matrix(1.000003,-0.000004,0.000004,1.000003,-0.004278,0.002229)}
76.2711864% {opacity:1.00000;transform:matrix(1.000073,-0.000078,0.000078,1.000073,-0.090135,0.039993)}
76.6949153% {opacity:1.00000;transform:matrix(1.000073,-0.000078,0.000078,1.000073,-0.090046,0.039832)}
77.1186441% {opacity:1.00000;transform:matrix(1.000072,-0.000078,0.000078,1.000072,-0.089630,0.039546)}
77.5423729% {opacity:1.00000;transform:matrix(1.000072,-0.000078,0.000078,1.000072,-0.089613,0.039548)}
77.9661017% {opacity:1.00000;transform:matrix(1.000073,-0.000077,0.000077,1.000073,-0.089661,0.039141)}
78.3898305% {opacity:1.00000;transform:matrix(1.000073,-0.000077,0.000077,1.000073,-0.089787,0.039276)}
78.8135593% {opacity:1.00000;transform:matrix(1.000073,-0.000077,0.000077,1.000073,-0.089847,0.039031)}
79.2372881% {opacity:1.00000;transform:matrix(1.000073,-0.000077,0.000077,1.000073,-0.089816,0.039292)}
79.6610169% {opacity:1.00000;transform:matrix(1.000073,-0.000077,0.000077,1.000073,-0.089730,0.039025)}
80.0847458% {opacity:1.00000;transform:matrix(1.000073,-0.000077,0.000077,1.000073,-0.089823,0.039070)}
80.5084746% {opacity:1.00000;transform:matrix(1.000073,-0.000077,0.000077,1.000073,-0.089823,0.039070)}
80.9322034% {opacity:1.00000;transform:matrix(1.000073,-0.000077,0.000077,1.000073,-0.089823,0.039070)}
81.3559322% {opacity:1.00000;transform:matrix(1.000073,-0.000077,0.000077,1.000073,-0.089822,0.039068)}
81.7796610% {opacity:1.00000;transform:matrix(1.000073,-0.000077,0.000077,1.000073,-0.089746,0.039142)}
82.2033898% {opacity:1.00000;transform:matrix(1.000073,-0.000077,0.000077,1.000073,-0.089764,0.039164)}
82.6271186% {opacity:1.00000;transform:matrix(1.000073,-0.000077,0.000077,1.000073,-0.089768,0.039146)}
83.0508475% {opacity:1.00000;transform:matrix(1.000073,-0.000077,0.000077,1.000073,-0.089768,0.039146)}
83.4745763% {opacity:1.00000;transform:matrix(1.000073,-0.000077,0.000077,1.000073,-0.089768,0.039146)}
83.8983051% {opacity:1.00000;transform:matrix(1.000073,-0.000077,0.000077,1.000073,-0.089768,0.039146)}
84.3220339% {opacity:1.00000;transform:matrix(1.000073,-0.000077,0.000077,1.000073,-0.089768,0.039146)}
84.7457627% {opacity:1.00000;transform:matrix(1.000073,-0.000077,0.000077,1.000073,-0.089768,0.039146)}
85.1694915% {opacity:1.00000;transform:matrix(1.000073,-0.000077,0.000077,1.000073,-0.089768,0.039146)}
85.5932203% {opacity:1.00000;transform:matrix(1.000073,-0.000077,0.000077,1.000073,-0.089768,0.039146)}
86.0169492% {opacity:1.00000;transform:matrix(1.000073,-0.000077,0.000077,1.000073,-0.089768,0.039146)}
86.4406780% {opacity:1.00000;transform:matrix(1.000073,-0.000077,0.000077,1.000073,-0.089768,0.039146)}
86.8644068% {opacity:1.00000;transform:matrix(1.000073,-0.000077,0.000077,1.000073,-0.089804,0.039114)}
87.2881356% {opacity:1.00000;transform:matrix(1.000073,-0.000077,0.000077,1.000073,-0.089804,0.039114)}
87.7118644% {opacity:1.00000;transform:matrix(1.000073,-0.000077,0.000077,1.000073,-0.089804,0.039114)}
88.1355932% {opacity:1.00000;transform:matrix(1.000073,-0.000077,0.000077,1.000073,-0.089804,0.039114)}
88.5593220% {opacity:1.00000;transform:matrix(1.000073,-0.000077,0.000077,1.000073,-0.089804,0.039114)}
88.9830508% {opacity:1.00000;transform:matrix(1.000073,-0.000077,0.000077,1.000073,-0.089804,0.039114)}
89.4067797% {opacity:1.00000;transform:matrix(1.000073,-0.000077,0.000077,1.000073,-0.089804,0.039114)}
89.8305085% {opacity:1.00000;transform:matrix(1.000073,-0.000077,0.000077,1.000073,-0.089804,0.039114)}
90.2542373% {opacity:1.00000;transform:matrix(1.000073,-0.000077,0.000077,1.000073,-0.089680,0.038873)}
90.6779661% {opacity:1.00000;transform:matrix(1.000073,-0.000077,0.000077,1.000073,-0.089681,0.038899)}
91.1016949% {opacity:1.00000;transform:matrix(1.000073,-0.000077,0.000077,1.000073,-0.089686,0.038889)}
91.5254237% {opacity:0.99485;transform:matrix(1.000073,-0.000077,0.000077,1.000073,-0.089686,0.038889)}
91.9491525% {opacity:0.99485;transform:matrix(1.000073,-0.000077,0.000077,1.000073,-0.089806,0.038569)}
92.3728814% {opacity:0.99485;transform:matrix(1.000073,-0.000076,0.000076,1.000073,-0.089627,0.038127)}
92.7966102% {opacity:0.86050;transform:matrix(0.987848,-0.000078,0.000078,0.987848,11.627859,8.712500)}
93.2203390% {opacity:0.76981;transform:matrix(0.976295,-0.000927,0.000927,0.976295,22.392565,18.950659)}
93.6440678% {opacity:0.68140;transform:matrix(0.965622,0.000576,-0.000576,0.965622,33.216191,24.851574)}
94.0677966% {opacity:0.58347;transform:matrix(0.956014,-0.001085,0.001085,0.956014,41.820690,34.057400)}
94.4915254% {opacity:0.50335;transform:matrix(0.946780,-0.000105,0.000105,0.946780,51.035948,39.864779)}
94.9152542% {opacity:0.43180;transform:matrix(0.938513,0.000532,-0.000532,0.938513,59.227579,44.563458)}
95.3389831% {opacity:0.38484;transform:matrix(0.931041,0.000552,-0.000552,0.931041,66.409037,50.494715)}
95.7627119% {opacity:0.31471;transform:matrix(0.923776,0.000625,-0.000625,0.923776,73.454989,55.313917)}
96.1864407% {opacity:0.28702;transform:matrix(0.918021,0.000160,-0.000160,0.918021,78.752527,60.979363)}
96.6101695% {opacity:0.23904;transform:matrix(0.912190,0.000377,-0.000377,0.912190,84.454045,64.911531)}
97.0338983% {opacity:0.20035;transform:matrix(0.906727,-0.000011,0.000011,0.906727,89.471365,69.388927)}
97.4576271% {opacity:0.16021;transform:matrix(0.902951,0.002509,-0.002509,0.902951,94.098883,69.589317)}
97.8813559% {opacity:0.13859;transform:matrix(0.898602,0.001125,-0.001125,0.898602,97.723288,73.446090)}
98.3050847% {opacity:0.11360;transform:matrix(0.894867,0.002527,-0.002527,0.894867,101.872058,74.617218)}
98.7288136% {opacity:0.10035;transform:matrix(0.892492,0.000467,-0.000467,0.892492,103.318323,79.386226)}
99.1525424% {opacity:0.07216;transform:matrix(0.890869,0.001082,-0.001082,0.890869,105.225331,79.582821)}
99.5762712% {opacity:0.06113;transform:matrix(0.887812,-0.001425,0.001425,0.887812,107.057654,85.179986)}
100% {opacity:0}
}
.card-motion-12 {animation:center-motion 3.933333333s linear both;}
@keyframes center-motion-tail {
0.0000000% {opacity:0.04545;transform:matrix(0.887693,-0.001640,0.001640,0.887693,107.098351,85.359062)}
10.0000000% {opacity:0.03649;transform:matrix(0.886065,-0.002208,0.002208,0.886065,108.587660,86.716529)}
20.0000000% {opacity:0.02597;transform:matrix(0.885619,-0.003240,0.003240,0.885619,108.588669,88.049015)}
30.0000000% {opacity:0.02015;transform:matrix(0.884747,-0.001305,0.001305,0.884747,110.017895,87.072091)}
40.0000000% {opacity:0.01426;transform:matrix(0.881186,0.005318,-0.005318,0.881186,116.007970,81.559704)}
50.0000000% {opacity:0.00076;transform:matrix(0.883621,0.002978,-0.002978,0.883621,113.526043,83.034545)}
60.0000000% {opacity:0.00000;transform:matrix(0.883621,0.002978,-0.002978,0.883621,113.526043,83.034545)}
70.0000000% {opacity:0.00000;transform:matrix(0.883621,0.002978,-0.002978,0.883621,113.526043,83.034545)}
80.0000000% {opacity:0.00000;transform:matrix(0.883621,0.002978,-0.002978,0.883621,113.526043,83.034545)}
90.0000000% {opacity:0.00000;transform:matrix(0.883621,0.002978,-0.002978,0.883621,113.526043,83.034545)}
100% {opacity:0}
}
.invoice-tail .card-motion-12 {animation:center-motion-tail 0.166666667s linear both;}