@keyframes headline-one {
 0.00000000% {opacity:0.0;transform:translateY(0.0px);}
 0.42372881% {opacity:0.037001;transform:translateY(15.5px);}
 0.84745763% {opacity:0.07241;transform:translateY(15.125px);}
 1.27118644% {opacity:0.107594;transform:translateY(14.25px);}
 1.69491525% {opacity:0.147395;transform:translateY(12.125px);}
 2.11864407% {opacity:0.181611;transform:translateY(11.125px);}
 2.54237288% {opacity:0.219891;transform:translateY(10.125px);}
 2.96610169% {opacity:0.253354;transform:translateY(9.125px);}
 3.38983051% {opacity:0.290143;transform:translateY(8.125px);}
 3.81355932% {opacity:0.324935;transform:translateY(7.125px);}
 4.23728814% {opacity:0.361398;transform:translateY(6.125px);}
 4.66101695% {opacity:0.394826;transform:translateY(6.125px);}
 5.08474576% {opacity:0.428675;transform:translateY(5.0px);}
 5.50847458% {opacity:0.462905;transform:translateY(4.0px);}
 5.93220339% {opacity:0.499743;transform:translateY(4.0px);}
 6.35593220% {opacity:0.533441;transform:translateY(3.0px);}
 6.77966102% {opacity:0.569592;transform:translateY(3.0px);}
 7.20338983% {opacity:0.603831;transform:translateY(2.0px);}
 7.62711864% {opacity:0.640535;transform:translateY(2.0px);}
 8.05084746% {opacity:0.673901;transform:translateY(2.0px);}
 8.47457627% {opacity:0.709295;transform:translateY(1.0px);}
 8.89830508% {opacity:0.743697;transform:translateY(1.0px);}
 9.32203390% {opacity:0.78087;transform:translateY(1.0px);}
 9.74576271% {opacity:0.813482;transform:translateY(1.0px);}
 10.16949153% {opacity:0.848369;transform:translateY(0.0px);}
 10.59322034% {opacity:0.882788;transform:translateY(0.0px);}
 11.01694915% {opacity:0.919798;transform:translateY(0.0px);}
 11.44067797% {opacity:0.953728;transform:translateY(0.0px);}
 11.86440678% {opacity:0.990594;transform:translateY(0.0px);}
 12.28813559% {opacity:0.990669;transform:translateY(0.0px);}
 12.71186441% {opacity:0.990569;transform:translateY(0.0px);}
 13.13559322% {opacity:0.990886;transform:translateY(0.0px);}
 13.55932203% {opacity:0.99139;transform:translateY(0.0px);}
 13.98305085% {opacity:0.991397;transform:translateY(0.0px);}
 14.40677966% {opacity:0.991452;transform:translateY(0.0px);}
 14.83050847% {opacity:0.991517;transform:translateY(0.0px);}
 15.25423729% {opacity:0.991526;transform:translateY(0.0px);}
 15.67796610% {opacity:0.991589;transform:translateY(0.0px);}
 16.10169492% {opacity:0.991537;transform:translateY(0.0px);}
 16.52542373% {opacity:0.991832;transform:translateY(0.0px);}
 16.94915254% {opacity:0.991895;transform:translateY(0.0px);}
 17.37288136% {opacity:0.992329;transform:translateY(0.0px);}
 17.79661017% {opacity:0.99207;transform:translateY(0.0px);}
 18.22033898% {opacity:0.992471;transform:translateY(0.0px);}
 18.64406780% {opacity:0.992473;transform:translateY(0.0px);}
 19.06779661% {opacity:0.993251;transform:translateY(0.0px);}
 19.49152542% {opacity:0.993156;transform:translateY(0.0px);}
 19.91525424% {opacity:0.993426;transform:translateY(0.0px);}
 20.33898305% {opacity:0.993451;transform:translateY(0.0px);}
 20.76271186% {opacity:0.993805;transform:translateY(0.0px);}
 21.18644068% {opacity:0.993298;transform:translateY(0.0px);}
 21.61016949% {opacity:0.993804;transform:translateY(0.0px);}
 22.03389831% {opacity:0.993776;transform:translateY(0.0px);}
 22.45762712% {opacity:0.994841;transform:translateY(0.0px);}
 22.88135593% {opacity:0.994499;transform:translateY(0.0px);}
 23.30508475% {opacity:0.99498;transform:translateY(0.0px);}
 23.72881356% {opacity:0.994979;transform:translateY(0.0px);}
 24.15254237% {opacity:0.995828;transform:translateY(0.0px);}
 24.57627119% {opacity:0.995442;transform:translateY(0.0px);}
 25.00000000% {opacity:0.995757;transform:translateY(0.0px);}
 25.42372881% {opacity:0.995686;transform:translateY(0.0px);}
 25.84745763% {opacity:0.996387;transform:translateY(0.0px);}
 26.27118644% {opacity:0.995983;transform:translateY(0.0px);}
 26.69491525% {opacity:0.996455;transform:translateY(0.0px);}
 27.11864407% {opacity:0.996383;transform:translateY(0.0px);}
 27.54237288% {opacity:0.997129;transform:translateY(0.0px);}
 27.96610169% {opacity:0.996681;transform:translateY(0.0px);}
 28.38983051% {opacity:0.997014;transform:translateY(0.0px);}
 28.81355932% {opacity:0.996934;transform:translateY(0.0px);}
 29.23728814% {opacity:0.997555;transform:translateY(0.0px);}
 29.66101695% {opacity:0.997302;transform:translateY(0.0px);}
 30.08474576% {opacity:0.997451;transform:translateY(0.0px);}
 30.50847458% {opacity:0.997419;transform:translateY(0.0px);}
 30.93220339% {opacity:0.99778;transform:translateY(0.0px);}
 31.35593220% {opacity:0.997594;transform:translateY(0.0px);}
 31.77966102% {opacity:0.997708;transform:translateY(0.0px);}
 32.20338983% {opacity:0.997667;transform:translateY(0.0px);}
 32.62711864% {opacity:0.997883;transform:translateY(0.0px);}
 33.05084746% {opacity:0.997557;transform:translateY(0.0px);}
 33.47457627% {opacity:0.997773;transform:translateY(0.0px);}
 33.89830508% {opacity:0.997709;transform:translateY(0.0px);}
 34.32203390% {opacity:0.99824;transform:translateY(0.0px);}
 34.74576271% {opacity:0.99824;transform:translateY(0.0px);}
 35.16949153% {opacity:0.99824;transform:translateY(0.0px);}
 35.59322034% {opacity:0.99824;transform:translateY(0.0px);}
 36.01694915% {opacity:0.99824;transform:translateY(0.0px);}
 36.44067797% {opacity:0.998261;transform:translateY(0.0px);}
 36.86440678% {opacity:0.998261;transform:translateY(0.0px);}
 37.28813559% {opacity:0.998265;transform:translateY(0.0px);}
 37.71186441% {opacity:0.998267;transform:translateY(0.0px);}
 38.13559322% {opacity:0.998272;transform:translateY(0.0px);}
 38.55932203% {opacity:0.998272;transform:translateY(0.0px);}
 38.98305085% {opacity:0.998272;transform:translateY(0.0px);}
 39.40677966% {opacity:0.998272;transform:translateY(0.0px);}
 39.83050847% {opacity:0.998272;transform:translateY(0.0px);}
 40.25423729% {opacity:0.998272;transform:translateY(0.0px);}
 40.67796610% {opacity:0.998272;transform:translateY(0.0px);}
 41.10169492% {opacity:0.998272;transform:translateY(0.0px);}
 41.52542373% {opacity:0.998283;transform:translateY(0.0px);}
 41.94915254% {opacity:0.998283;transform:translateY(0.0px);}
 42.37288136% {opacity:0.998283;transform:translateY(0.0px);}
 42.79661017% {opacity:0.998283;transform:translateY(0.0px);}
 43.22033898% {opacity:0.998283;transform:translateY(0.0px);}
 43.64406780% {opacity:0.998283;transform:translateY(0.0px);}
 44.06779661% {opacity:0.998283;transform:translateY(0.0px);}
 44.49152542% {opacity:0.998283;transform:translateY(0.0px);}
 44.91525424% {opacity:0.998284;transform:translateY(0.0px);}
 45.33898305% {opacity:0.998307;transform:translateY(0.0px);}
 45.76271186% {opacity:0.998304;transform:translateY(0.0px);}
 46.18644068% {opacity:0.998306;transform:translateY(0.0px);}
 46.61016949% {opacity:0.998306;transform:translateY(0.0px);}
 47.03389831% {opacity:0.998306;transform:translateY(0.0px);}
 47.45762712% {opacity:0.998306;transform:translateY(0.0px);}
 47.88135593% {opacity:0.998306;transform:translateY(0.0px);}
 48.30508475% {opacity:0.998306;transform:translateY(0.0px);}
 48.72881356% {opacity:0.998306;transform:translateY(0.0px);}
 49.15254237% {opacity:0.998306;transform:translateY(0.0px);}
 49.57627119% {opacity:0.998312;transform:translateY(0.0px);}
 50.00000000% {opacity:0.998312;transform:translateY(0.0px);}
 50.42372881% {opacity:0.998312;transform:translateY(0.0px);}
 50.84745763% {opacity:0.998312;transform:translateY(0.0px);}
 51.27118644% {opacity:0.998312;transform:translateY(0.0px);}
 51.69491525% {opacity:0.998312;transform:translateY(0.0px);}
 52.11864407% {opacity:0.998312;transform:translateY(0.0px);}
 52.54237288% {opacity:0.998312;transform:translateY(0.0px);}
 52.96610169% {opacity:0.998312;transform:translateY(0.0px);}
 53.38983051% {opacity:0.998312;transform:translateY(0.0px);}
 53.81355932% {opacity:0.998312;transform:translateY(0.0px);}
 54.23728814% {opacity:0.998312;transform:translateY(0.0px);}
 54.66101695% {opacity:0.998312;transform:translateY(0.0px);}
 55.08474576% {opacity:0.998312;transform:translateY(0.0px);}
 55.50847458% {opacity:0.998312;transform:translateY(0.0px);}
 55.93220339% {opacity:0.998312;transform:translateY(0.0px);}
 56.35593220% {opacity:0.998312;transform:translateY(0.0px);}
 56.77966102% {opacity:0.998312;transform:translateY(0.0px);}
 57.20338983% {opacity:0.998312;transform:translateY(0.0px);}
 57.62711864% {opacity:0.998312;transform:translateY(0.0px);}
 58.05084746% {opacity:0.998312;transform:translateY(0.0px);}
 58.47457627% {opacity:0.998312;transform:translateY(0.0px);}
 58.89830508% {opacity:0.998312;transform:translateY(0.0px);}
 59.32203390% {opacity:0.998312;transform:translateY(0.0px);}
 59.74576271% {opacity:0.998312;transform:translateY(0.0px);}
 60.16949153% {opacity:0.998312;transform:translateY(0.0px);}
 60.59322034% {opacity:0.998312;transform:translateY(0.0px);}
 61.01694915% {opacity:0.998312;transform:translateY(0.0px);}
 61.44067797% {opacity:0.998312;transform:translateY(0.0px);}
 61.86440678% {opacity:0.998312;transform:translateY(0.0px);}
 62.28813559% {opacity:0.998312;transform:translateY(0.0px);}
 62.71186441% {opacity:0.998312;transform:translateY(0.0px);}
 63.13559322% {opacity:0.998312;transform:translateY(0.0px);}
 63.55932203% {opacity:0.998312;transform:translateY(0.0px);}
 63.98305085% {opacity:0.998312;transform:translateY(0.0px);}
 64.40677966% {opacity:0.998312;transform:translateY(0.0px);}
 64.83050847% {opacity:0.998312;transform:translateY(0.0px);}
 65.25423729% {opacity:0.998312;transform:translateY(0.0px);}
 65.67796610% {opacity:0.998312;transform:translateY(0.0px);}
 66.10169492% {opacity:0.998312;transform:translateY(0.0px);}
 66.52542373% {opacity:0.998312;transform:translateY(0.0px);}
 66.94915254% {opacity:0.998312;transform:translateY(0.0px);}
 67.37288136% {opacity:0.998312;transform:translateY(0.0px);}
 67.79661017% {opacity:0.998312;transform:translateY(0.0px);}
 68.22033898% {opacity:0.998312;transform:translateY(0.0px);}
 68.64406780% {opacity:0.998312;transform:translateY(0.0px);}
 69.06779661% {opacity:0.998312;transform:translateY(0.0px);}
 69.49152542% {opacity:0.998312;transform:translateY(0.0px);}
 69.91525424% {opacity:0.998312;transform:translateY(0.0px);}
 70.33898305% {opacity:0.998312;transform:translateY(0.0px);}
 70.76271186% {opacity:0.998312;transform:translateY(0.0px);}
 71.18644068% {opacity:0.998312;transform:translateY(0.0px);}
 71.61016949% {opacity:0.998312;transform:translateY(0.0px);}
 72.03389831% {opacity:0.998312;transform:translateY(0.0px);}
 72.45762712% {opacity:0.998312;transform:translateY(0.0px);}
 72.88135593% {opacity:0.998312;transform:translateY(0.0px);}
 73.30508475% {opacity:0.998312;transform:translateY(0.0px);}
 73.72881356% {opacity:0.998312;transform:translateY(0.0px);}
 74.15254237% {opacity:0.998312;transform:translateY(0.0px);}
 74.57627119% {opacity:0.998312;transform:translateY(0.0px);}
 75.00000000% {opacity:0.998312;transform:translateY(0.0px);}
 75.42372881% {opacity:0.998312;transform:translateY(0.0px);}
 75.84745763% {opacity:0.998312;transform:translateY(0.0px);}
 76.27118644% {opacity:1;transform:translateY(0.0px);}
 76.69491525% {opacity:0.999998;transform:translateY(0.0px);}
 77.11864407% {opacity:1;transform:translateY(0.0px);}
 77.54237288% {opacity:0.999967;transform:translateY(0.0px);}
 77.96610169% {opacity:0.999948;transform:translateY(0.0px);}
 78.38983051% {opacity:0.999969;transform:translateY(0.0px);}
 78.81355932% {opacity:1;transform:translateY(0.0px);}
 79.23728814% {opacity:0.999963;transform:translateY(0.0px);}
 79.66101695% {opacity:0.999974;transform:translateY(0.0px);}
 80.08474576% {opacity:1;transform:translateY(0.0px);}
 80.50847458% {opacity:0.999971;transform:translateY(0.0px);}
 80.93220339% {opacity:0.99997;transform:translateY(0.0px);}
 81.35593220% {opacity:0.999973;transform:translateY(0.0px);}
 81.77966102% {opacity:0.999971;transform:translateY(0.0px);}
 82.20338983% {opacity:0.999969;transform:translateY(0.0px);}
 82.62711864% {opacity:0.999968;transform:translateY(0.0px);}
 83.05084746% {opacity:0.999967;transform:translateY(0.0px);}
 83.47457627% {opacity:0.999967;transform:translateY(0.0px);}
 83.89830508% {opacity:0.999967;transform:translateY(0.0px);}
 84.32203390% {opacity:0.999967;transform:translateY(0.0px);}
 84.74576271% {opacity:0.999967;transform:translateY(0.0px);}
 85.16949153% {opacity:0.999965;transform:translateY(0.0px);}
 85.59322034% {opacity:0.999969;transform:translateY(0.0px);}
 86.01694915% {opacity:0.999969;transform:translateY(0.0px);}
 86.44067797% {opacity:0.999999;transform:translateY(0.0px);}
 86.86440678% {opacity:0.999191;transform:translateY(0.0px);}
 87.28813559% {opacity:0.998643;transform:translateY(0.0px);}
 87.71186441% {opacity:0.996177;transform:translateY(0.0px);}
 88.13559322% {opacity:0.973776;transform:translateY(0.0px);}
 88.55932203% {opacity:0.935017;transform:translateY(0.0px);}
 88.98305085% {opacity:0.898823;transform:translateY(0.0px);}
 89.40677966% {opacity:0.861375;transform:translateY(0.0px);}
 89.83050847% {opacity:0.826599;transform:translateY(0.0px);}
 90.25423729% {opacity:0.789019;transform:translateY(0.0px);}
 90.67796610% {opacity:0.754104;transform:translateY(0.0px);}
 91.10169492% {opacity:0.717813;transform:translateY(0.0px);}
 91.52542373% {opacity:0.684437;transform:translateY(0.0px);}
 91.94915254% {opacity:0.654411;transform:translateY(0.0px);}
 92.37288136% {opacity:0.614084;transform:translateY(0.0px);}
 92.79661017% {opacity:0.57629;transform:translateY(0.0px);}
 93.22033898% {opacity:0.537064;transform:translateY(0.0px);}
 93.64406780% {opacity:0.500379;transform:translateY(0.0px);}
 94.06779661% {opacity:0.461314;transform:translateY(0.0px);}
 94.49152542% {opacity:0.424689;transform:translateY(0.0px);}
 94.91525424% {opacity:0.38649;transform:translateY(0.0px);}
 95.33898305% {opacity:0.351211;transform:translateY(0.0px);}
 95.76271186% {opacity:0.314633;transform:translateY(0.0px);}
 96.18644068% {opacity:0.279766;transform:translateY(0.0px);}
 96.61016949% {opacity:0.245095;transform:translateY(0.0px);}
 97.03389831% {opacity:0.212217;transform:translateY(0.0px);}
 97.45762712% {opacity:0.175859;transform:translateY(0.0px);}
 97.88135593% {opacity:0.141626;transform:translateY(0.0px);}
 98.30508475% {opacity:0.106678;transform:translateY(0.0px);}
 98.72881356% {opacity:0.072123;transform:translateY(0.0px);}
 99.15254237% {opacity:0.036447;transform:translateY(0.0px);}
 99.57627119% {opacity:6e-06;transform:translateY(0.0px);}
 100% {opacity:6e-06;transform:translateY(0.0px);}
}
@keyframes headline-two {
 0.00000000% {opacity:3.3e-05;transform:translateY(15.0px);}
 0.50000000% {opacity:0.041273;transform:translateY(15.625px);}
 1.00000000% {opacity:0.074336;transform:translateY(14.75px);}
 1.50000000% {opacity:0.110884;transform:translateY(14.125px);}
 2.00000000% {opacity:0.143193;transform:translateY(12.125px);}
 2.50000000% {opacity:0.179825;transform:translateY(11.125px);}
 3.00000000% {opacity:0.217209;transform:translateY(10.125px);}
 3.50000000% {opacity:0.255769;transform:translateY(8.875px);}
 4.00000000% {opacity:0.289969;transform:translateY(8.125px);}
 4.50000000% {opacity:0.328631;transform:translateY(6.875px);}
 5.00000000% {opacity:0.359166;transform:translateY(6.125px);}
 5.50000000% {opacity:0.394711;transform:translateY(6.125px);}
 6.00000000% {opacity:0.42688;transform:translateY(5.0px);}
 6.50000000% {opacity:0.463637;transform:translateY(4.0px);}
 7.00000000% {opacity:0.496912;transform:translateY(4.0px);}
 7.50000000% {opacity:0.534156;transform:translateY(3.0px);}
 8.00000000% {opacity:0.570192;transform:translateY(3.0px);}
 8.50000000% {opacity:0.609106;transform:translateY(2.0px);}
 9.00000000% {opacity:0.642924;transform:translateY(2.0px);}
 9.50000000% {opacity:0.67888;transform:translateY(2.0px);}
 10.00000000% {opacity:0.714411;transform:translateY(1.0px);}
 10.50000000% {opacity:0.749305;transform:translateY(1.0px);}
 11.00000000% {opacity:0.78272;transform:translateY(1.0px);}
 11.50000000% {opacity:0.819302;transform:translateY(1.0px);}
 12.00000000% {opacity:0.858537;transform:translateY(0.0px);}
 12.50000000% {opacity:0.8919;transform:translateY(0.0px);}
 13.00000000% {opacity:0.927686;transform:translateY(0.0px);}
 13.50000000% {opacity:0.961483;transform:translateY(0.0px);}
 14.00000000% {opacity:0.997646;transform:translateY(0.0px);}
 14.50000000% {opacity:0.99746;transform:translateY(0.0px);}
 15.00000000% {opacity:0.997607;transform:translateY(0.0px);}
 15.50000000% {opacity:0.997581;transform:translateY(0.0px);}
 16.00000000% {opacity:0.997898;transform:translateY(0.0px);}
 16.50000000% {opacity:0.99766;transform:translateY(0.0px);}
 17.00000000% {opacity:0.997804;transform:translateY(0.0px);}
 17.50000000% {opacity:0.997773;transform:translateY(0.0px);}
 18.00000000% {opacity:0.998124;transform:translateY(0.0px);}
 18.50000000% {opacity:0.997887;transform:translateY(0.0px);}
 19.00000000% {opacity:0.998008;transform:translateY(0.0px);}
 19.50000000% {opacity:0.997963;transform:translateY(0.0px);}
 20.00000000% {opacity:0.998283;transform:translateY(0.0px);}
 20.50000000% {opacity:0.997845;transform:translateY(0.0px);}
 21.00000000% {opacity:0.998061;transform:translateY(0.0px);}
 21.50000000% {opacity:0.997961;transform:translateY(0.0px);}
 22.00000000% {opacity:0.998488;transform:translateY(0.0px);}
 22.50000000% {opacity:0.998212;transform:translateY(0.0px);}
 23.00000000% {opacity:0.998333;transform:translateY(0.0px);}
 23.50000000% {opacity:0.998268;transform:translateY(0.0px);}
 24.00000000% {opacity:0.998605;transform:translateY(0.0px);}
 24.50000000% {opacity:0.998279;transform:translateY(0.0px);}
 25.00000000% {opacity:0.998413;transform:translateY(0.0px);}
 25.50000000% {opacity:0.998342;transform:translateY(0.0px);}
 26.00000000% {opacity:0.998744;transform:translateY(0.0px);}
 26.50000000% {opacity:0.998664;transform:translateY(0.0px);}
 27.00000000% {opacity:0.998706;transform:translateY(0.0px);}
 27.50000000% {opacity:0.998688;transform:translateY(0.0px);}
 28.00000000% {opacity:0.998804;transform:translateY(0.0px);}
 28.50000000% {opacity:0.99872;transform:translateY(0.0px);}
 29.00000000% {opacity:0.998748;transform:translateY(0.0px);}
 29.50000000% {opacity:0.99872;transform:translateY(0.0px);}
 30.00000000% {opacity:0.998822;transform:translateY(0.0px);}
 30.50000000% {opacity:0.998767;transform:translateY(0.0px);}
 31.00000000% {opacity:0.99878;transform:translateY(0.0px);}
 31.50000000% {opacity:0.998761;transform:translateY(0.0px);}
 32.00000000% {opacity:0.998807;transform:translateY(0.0px);}
 32.50000000% {opacity:0.998793;transform:translateY(0.0px);}
 33.00000000% {opacity:0.9988;transform:translateY(0.0px);}
 33.50000000% {opacity:0.998799;transform:translateY(0.0px);}
 34.00000000% {opacity:0.998816;transform:translateY(0.0px);}
 34.50000000% {opacity:0.998805;transform:translateY(0.0px);}
 35.00000000% {opacity:0.998812;transform:translateY(0.0px);}
 35.50000000% {opacity:0.998809;transform:translateY(0.0px);}
 36.00000000% {opacity:0.998821;transform:translateY(0.0px);}
 36.50000000% {opacity:0.998665;transform:translateY(0.0px);}
 37.00000000% {opacity:0.99873;transform:translateY(0.0px);}
 37.50000000% {opacity:0.998689;transform:translateY(0.0px);}
 38.00000000% {opacity:0.998881;transform:translateY(0.0px);}
 38.50000000% {opacity:0.998879;transform:translateY(0.0px);}
 39.00000000% {opacity:0.998883;transform:translateY(0.0px);}
 39.50000000% {opacity:0.998883;transform:translateY(0.0px);}
 40.00000000% {opacity:0.998891;transform:translateY(0.0px);}
 40.50000000% {opacity:0.998867;transform:translateY(0.0px);}
 41.00000000% {opacity:0.998876;transform:translateY(0.0px);}
 41.50000000% {opacity:0.998871;transform:translateY(0.0px);}
 42.00000000% {opacity:0.998899;transform:translateY(0.0px);}
 42.50000000% {opacity:0.998899;transform:translateY(0.0px);}
 43.00000000% {opacity:0.998899;transform:translateY(0.0px);}
 43.50000000% {opacity:0.998899;transform:translateY(0.0px);}
 44.00000000% {opacity:0.998899;transform:translateY(0.0px);}
 44.50000000% {opacity:0.998899;transform:translateY(0.0px);}
 45.00000000% {opacity:0.998899;transform:translateY(0.0px);}
 45.50000000% {opacity:0.998899;transform:translateY(0.0px);}
 46.00000000% {opacity:0.998899;transform:translateY(0.0px);}
 46.50000000% {opacity:0.998899;transform:translateY(0.0px);}
 47.00000000% {opacity:0.998899;transform:translateY(0.0px);}
 47.50000000% {opacity:0.998899;transform:translateY(0.0px);}
 48.00000000% {opacity:0.998899;transform:translateY(0.0px);}
 48.50000000% {opacity:0.998899;transform:translateY(0.0px);}
 49.00000000% {opacity:0.998899;transform:translateY(0.0px);}
 49.50000000% {opacity:0.998899;transform:translateY(0.0px);}
 50.00000000% {opacity:0.998899;transform:translateY(0.0px);}
 50.50000000% {opacity:0.998899;transform:translateY(0.0px);}
 51.00000000% {opacity:0.998899;transform:translateY(0.0px);}
 51.50000000% {opacity:0.998899;transform:translateY(0.0px);}
 52.00000000% {opacity:0.998899;transform:translateY(0.0px);}
 52.50000000% {opacity:0.998899;transform:translateY(0.0px);}
 53.00000000% {opacity:0.998899;transform:translateY(0.0px);}
 53.50000000% {opacity:0.998899;transform:translateY(0.0px);}
 54.00000000% {opacity:0.998899;transform:translateY(0.0px);}
 54.50000000% {opacity:0.998899;transform:translateY(0.0px);}
 55.00000000% {opacity:0.998899;transform:translateY(0.0px);}
 55.50000000% {opacity:0.998899;transform:translateY(0.0px);}
 56.00000000% {opacity:0.998899;transform:translateY(0.0px);}
 56.50000000% {opacity:0.998899;transform:translateY(0.0px);}
 57.00000000% {opacity:0.998899;transform:translateY(0.0px);}
 57.50000000% {opacity:0.998899;transform:translateY(0.0px);}
 58.00000000% {opacity:0.998899;transform:translateY(0.0px);}
 58.50000000% {opacity:0.998899;transform:translateY(0.0px);}
 59.00000000% {opacity:0.998899;transform:translateY(0.0px);}
 59.50000000% {opacity:0.998899;transform:translateY(0.0px);}
 60.00000000% {opacity:0.998899;transform:translateY(0.0px);}
 60.50000000% {opacity:0.998898;transform:translateY(0.0px);}
 61.00000000% {opacity:0.998892;transform:translateY(0.0px);}
 61.50000000% {opacity:0.998893;transform:translateY(0.0px);}
 62.00000000% {opacity:1;transform:translateY(0.0px);}
 62.50000000% {opacity:1;transform:translateY(0.0px);}
 63.00000000% {opacity:1;transform:translateY(0.0px);}
 63.50000000% {opacity:1;transform:translateY(0.0px);}
 64.00000000% {opacity:1;transform:translateY(0.0px);}
 64.50000000% {opacity:1;transform:translateY(0.0px);}
 65.00000000% {opacity:1;transform:translateY(0.0px);}
 65.50000000% {opacity:1;transform:translateY(0.0px);}
 66.00000000% {opacity:1;transform:translateY(0.0px);}
 66.50000000% {opacity:1;transform:translateY(0.0px);}
 67.00000000% {opacity:1;transform:translateY(0.0px);}
 67.50000000% {opacity:1;transform:translateY(0.0px);}
 68.00000000% {opacity:1;transform:translateY(0.0px);}
 68.50000000% {opacity:1;transform:translateY(0.0px);}
 69.00000000% {opacity:1;transform:translateY(0.0px);}
 69.50000000% {opacity:1;transform:translateY(0.0px);}
 70.00000000% {opacity:1;transform:translateY(0.0px);}
 70.50000000% {opacity:1;transform:translateY(0.0px);}
 71.00000000% {opacity:1;transform:translateY(0.0px);}
 71.50000000% {opacity:1;transform:translateY(0.0px);}
 72.00000000% {opacity:1;transform:translateY(0.0px);}
 72.50000000% {opacity:1;transform:translateY(0.0px);}
 73.00000000% {opacity:1;transform:translateY(0.0px);}
 73.50000000% {opacity:1;transform:translateY(0.0px);}
 74.00000000% {opacity:1;transform:translateY(0.0px);}
 74.50000000% {opacity:1;transform:translateY(0.0px);}
 75.00000000% {opacity:1;transform:translateY(0.0px);}
 75.50000000% {opacity:1;transform:translateY(0.0px);}
 76.00000000% {opacity:1;transform:translateY(0.0px);}
 76.50000000% {opacity:1;transform:translateY(0.0px);}
 77.00000000% {opacity:1;transform:translateY(0.0px);}
 77.50000000% {opacity:1;transform:translateY(0.0px);}
 78.00000000% {opacity:1;transform:translateY(0.0px);}
 78.50000000% {opacity:1;transform:translateY(0.0px);}
 79.00000000% {opacity:1;transform:translateY(0.0px);}
 79.50000000% {opacity:1;transform:translateY(0.0px);}
 80.00000000% {opacity:1;transform:translateY(0.0px);}
 80.50000000% {opacity:1;transform:translateY(0.0px);}
 81.00000000% {opacity:1;transform:translateY(0.0px);}
 81.50000000% {opacity:1;transform:translateY(0.0px);}
 82.00000000% {opacity:1;transform:translateY(0.0px);}
 82.50000000% {opacity:1;transform:translateY(0.0px);}
 83.00000000% {opacity:1;transform:translateY(0.0px);}
 83.50000000% {opacity:1;transform:translateY(0.0px);}
 84.00000000% {opacity:1;transform:translateY(0.0px);}
 84.50000000% {opacity:0.999999;transform:translateY(0.0px);}
 85.00000000% {opacity:0.999988;transform:translateY(0.0px);}
 85.50000000% {opacity:0.999984;transform:translateY(0.0px);}
 86.00000000% {opacity:0.973197;transform:translateY(0.0px);}
 86.50000000% {opacity:0.938052;transform:translateY(0.0px);}
 87.00000000% {opacity:0.905801;transform:translateY(0.0px);}
 87.50000000% {opacity:0.868223;transform:translateY(0.0px);}
 88.00000000% {opacity:0.831724;transform:translateY(0.0px);}
 88.50000000% {opacity:0.794143;transform:translateY(0.0px);}
 89.00000000% {opacity:0.759273;transform:translateY(0.0px);}
 89.50000000% {opacity:0.722709;transform:translateY(0.0px);}
 90.00000000% {opacity:0.689568;transform:translateY(0.0px);}
 90.50000000% {opacity:0.652984;transform:translateY(0.0px);}
 91.00000000% {opacity:0.619213;transform:translateY(0.0px);}
 91.50000000% {opacity:0.583635;transform:translateY(0.0px);}
 92.00000000% {opacity:0.550904;transform:translateY(0.0px);}
 92.50000000% {opacity:0.511684;transform:translateY(0.0px);}
 93.00000000% {opacity:0.474967;transform:translateY(0.0px);}
 93.50000000% {opacity:0.43671;transform:translateY(0.0px);}
 94.00000000% {opacity:0.400766;transform:translateY(0.0px);}
 94.50000000% {opacity:0.3637;transform:translateY(0.0px);}
 95.00000000% {opacity:0.32982;transform:translateY(0.0px);}
 95.50000000% {opacity:0.294022;transform:translateY(0.0px);}
 96.00000000% {opacity:0.260985;transform:translateY(0.0px);}
 96.50000000% {opacity:0.221704;transform:translateY(0.0px);}
 97.00000000% {opacity:0.185074;transform:translateY(0.0px);}
 97.50000000% {opacity:0.146346;transform:translateY(0.0px);}
 98.00000000% {opacity:0.110683;transform:translateY(0.0px);}
 98.50000000% {opacity:0.074701;transform:translateY(0.0px);}
 99.00000000% {opacity:0.041007;transform:translateY(0.0px);}
 99.50000000% {opacity:1.8e-05;transform:translateY(0.0px);}
 100% {opacity:1.8e-05;transform:translateY(0.0px);}
}
@keyframes headline-three {
 0.00000000% {opacity:0.033228;transform:translateY(16.25px);}
 0.30674847% {opacity:0.056947;transform:translateY(14.625px);}
 0.61349693% {opacity:0.085567;transform:translateY(14.25px);}
 0.92024540% {opacity:0.110176;transform:translateY(12.125px);}
 1.22699387% {opacity:0.139663;transform:translateY(11.125px);}
 1.53374233% {opacity:0.165942;transform:translateY(10.125px);}
 1.84049080% {opacity:0.195694;transform:translateY(9.125px);}
 2.14723926% {opacity:0.222892;transform:translateY(8.125px);}
 2.45398773% {opacity:0.253369;transform:translateY(7.125px);}
 2.76073620% {opacity:0.278388;transform:translateY(6.125px);}
 3.06748466% {opacity:0.305765;transform:translateY(6.125px);}
 3.37423313% {opacity:0.333695;transform:translateY(5.125px);}
 3.68098160% {opacity:0.358071;transform:translateY(4.125px);}
 3.98773006% {opacity:0.385534;transform:translateY(4.125px);}
 4.29447853% {opacity:0.410472;transform:translateY(3.0px);}
 4.60122699% {opacity:0.438514;transform:translateY(3.0px);}
 4.90797546% {opacity:0.465108;transform:translateY(2.0px);}
 5.21472393% {opacity:0.493889;transform:translateY(2.0px);}
 5.52147239% {opacity:0.521856;transform:translateY(2.0px);}
 5.82822086% {opacity:0.551819;transform:translateY(1.0px);}
 6.13496933% {opacity:0.57566;transform:translateY(1.0px);}
 6.44171779% {opacity:0.602591;transform:translateY(1.0px);}
 6.74846626% {opacity:0.631853;transform:translateY(1.0px);}
 7.05521472% {opacity:0.661328;transform:translateY(0.0px);}
 7.36196319% {opacity:0.687254;transform:translateY(0.0px);}
 7.66871166% {opacity:0.714713;transform:translateY(0.0px);}
 7.97546012% {opacity:0.741624;transform:translateY(0.0px);}
 8.28220859% {opacity:0.770884;transform:translateY(0.0px);}
 8.58895706% {opacity:0.79635;transform:translateY(0.0px);}
 8.89570552% {opacity:0.824408;transform:translateY(0.0px);}
 9.20245399% {opacity:0.851186;transform:translateY(0.0px);}
 9.50920245% {opacity:0.880377;transform:translateY(0.0px);}
 9.81595092% {opacity:0.906525;transform:translateY(0.0px);}
 10.12269939% {opacity:0.935108;transform:translateY(0.0px);}
 10.42944785% {opacity:0.96247;transform:translateY(0.0px);}
 10.73619632% {opacity:0.992237;transform:translateY(0.0px);}
 11.04294479% {opacity:0.992235;transform:translateY(0.0px);}
 11.34969325% {opacity:0.992392;transform:translateY(0.0px);}
 11.65644172% {opacity:0.992556;transform:translateY(0.0px);}
 11.96319018% {opacity:0.992429;transform:translateY(0.0px);}
 12.26993865% {opacity:0.992941;transform:translateY(0.0px);}
 12.57668712% {opacity:0.993624;transform:translateY(0.0px);}
 12.88343558% {opacity:0.993948;transform:translateY(0.0px);}
 13.19018405% {opacity:0.994188;transform:translateY(0.0px);}
 13.49693252% {opacity:0.993816;transform:translateY(0.0px);}
 13.80368098% {opacity:0.994529;transform:translateY(0.0px);}
 14.11042945% {opacity:0.994596;transform:translateY(0.0px);}
 14.41717791% {opacity:0.994609;transform:translateY(0.0px);}
 14.72392638% {opacity:0.994778;transform:translateY(0.0px);}
 15.03067485% {opacity:0.995319;transform:translateY(0.0px);}
 15.33742331% {opacity:0.99483;transform:translateY(0.0px);}
 15.64417178% {opacity:0.996116;transform:translateY(0.0px);}
 15.95092025% {opacity:0.995969;transform:translateY(0.0px);}
 16.25766871% {opacity:0.996722;transform:translateY(0.0px);}
 16.56441718% {opacity:0.99664;transform:translateY(0.0px);}
 16.87116564% {opacity:0.997294;transform:translateY(0.0px);}
 17.17791411% {opacity:0.997383;transform:translateY(0.0px);}
 17.48466258% {opacity:0.99723;transform:translateY(0.0px);}
 17.79141104% {opacity:0.997322;transform:translateY(0.0px);}
 18.09815951% {opacity:0.997349;transform:translateY(0.0px);}
 18.40490798% {opacity:0.997562;transform:translateY(0.0px);}
 18.71165644% {opacity:0.997513;transform:translateY(0.0px);}
 19.01840491% {opacity:0.997546;transform:translateY(0.0px);}
 19.32515337% {opacity:0.997538;transform:translateY(0.0px);}
 19.63190184% {opacity:0.997636;transform:translateY(0.0px);}
 19.93865031% {opacity:0.997594;transform:translateY(0.0px);}
 20.24539877% {opacity:0.997609;transform:translateY(0.0px);}
 20.55214724% {opacity:0.997593;transform:translateY(0.0px);}
 20.85889571% {opacity:0.99763;transform:translateY(0.0px);}
 21.16564417% {opacity:0.997534;transform:translateY(0.0px);}
 21.47239264% {opacity:0.997574;transform:translateY(0.0px);}
 21.77914110% {opacity:0.997537;transform:translateY(0.0px);}
 22.08588957% {opacity:0.997672;transform:translateY(0.0px);}
 22.39263804% {opacity:0.997577;transform:translateY(0.0px);}
 22.69938650% {opacity:0.997599;transform:translateY(0.0px);}
 23.00613497% {opacity:0.99757;transform:translateY(0.0px);}
 23.31288344% {opacity:0.997661;transform:translateY(0.0px);}
 23.61963190% {opacity:0.997439;transform:translateY(0.0px);}
 23.92638037% {opacity:0.997531;transform:translateY(0.0px);}
 24.23312883% {opacity:0.997462;transform:translateY(0.0px);}
 24.53987730% {opacity:0.997755;transform:translateY(0.0px);}
 24.84662577% {opacity:0.997406;transform:translateY(0.0px);}
 25.15337423% {opacity:0.997516;transform:translateY(0.0px);}
 25.46012270% {opacity:0.997397;transform:translateY(0.0px);}
 25.76687117% {opacity:0.997734;transform:translateY(0.0px);}
 26.07361963% {opacity:0.997647;transform:translateY(0.0px);}
 26.38036810% {opacity:0.997686;transform:translateY(0.0px);}
 26.68711656% {opacity:0.99768;transform:translateY(0.0px);}
 26.99386503% {opacity:0.997853;transform:translateY(0.0px);}
 27.30061350% {opacity:0.997819;transform:translateY(0.0px);}
 27.60736196% {opacity:0.997832;transform:translateY(0.0px);}
 27.91411043% {opacity:0.997825;transform:translateY(0.0px);}
 28.22085890% {opacity:0.997875;transform:translateY(0.0px);}
 28.52760736% {opacity:0.997753;transform:translateY(0.0px);}
 28.83435583% {opacity:0.997787;transform:translateY(0.0px);}
 29.14110429% {opacity:0.997744;transform:translateY(0.0px);}
 29.44785276% {opacity:0.997863;transform:translateY(0.0px);}
 29.75460123% {opacity:0.997673;transform:translateY(0.0px);}
 30.06134969% {opacity:0.99775;transform:translateY(0.0px);}
 30.36809816% {opacity:0.997696;transform:translateY(0.0px);}
 30.67484663% {opacity:0.997929;transform:translateY(0.0px);}
 30.98159509% {opacity:0.997968;transform:translateY(0.0px);}
 31.28834356% {opacity:0.997876;transform:translateY(0.0px);}
 31.59509202% {opacity:0.998023;transform:translateY(0.0px);}
 31.90184049% {opacity:0.999935;transform:translateY(0.0px);}
 32.20858896% {opacity:0.99997;transform:translateY(0.0px);}
 32.51533742% {opacity:0.999979;transform:translateY(0.0px);}
 32.82208589% {opacity:0.999985;transform:translateY(0.0px);}
 33.12883436% {opacity:1.0;transform:translateY(0.0px);}
 33.43558282% {opacity:0.999999;transform:translateY(0.0px);}
 33.74233129% {opacity:0.999999;transform:translateY(0.0px);}
 34.04907975% {opacity:0.999999;transform:translateY(0.0px);}
 34.35582822% {opacity:0.999999;transform:translateY(0.0px);}
 34.66257669% {opacity:0.999999;transform:translateY(0.0px);}
 34.96932515% {opacity:0.999999;transform:translateY(0.0px);}
 35.27607362% {opacity:0.999998;transform:translateY(0.0px);}
 35.58282209% {opacity:0.999998;transform:translateY(0.0px);}
 35.88957055% {opacity:0.999996;transform:translateY(0.0px);}
 36.19631902% {opacity:0.999997;transform:translateY(0.0px);}
 36.50306748% {opacity:0.999996;transform:translateY(0.0px);}
 36.80981595% {opacity:0.999998;transform:translateY(0.0px);}
 37.11656442% {opacity:0.999998;transform:translateY(0.0px);}
 37.42331288% {opacity:0.999998;transform:translateY(0.0px);}
 37.73006135% {opacity:0.999998;transform:translateY(0.0px);}
 38.03680982% {opacity:0.999999;transform:translateY(0.0px);}
 38.34355828% {opacity:0.999998;transform:translateY(0.0px);}
 38.65030675% {opacity:0.999998;transform:translateY(0.0px);}
 38.95705521% {opacity:0.999998;transform:translateY(0.0px);}
 39.26380368% {opacity:1.0;transform:translateY(0.0px);}
 39.57055215% {opacity:1.0;transform:translateY(0.0px);}
 39.87730061% {opacity:1.0;transform:translateY(0.0px);}
 40.18404908% {opacity:1.0;transform:translateY(0.0px);}
 40.49079755% {opacity:1.0;transform:translateY(0.0px);}
 40.79754601% {opacity:1.0;transform:translateY(0.0px);}
 41.10429448% {opacity:1.0;transform:translateY(0.0px);}
 41.41104294% {opacity:1.0;transform:translateY(0.0px);}
 41.71779141% {opacity:1.0;transform:translateY(0.0px);}
 42.02453988% {opacity:0.999999;transform:translateY(0.0px);}
 42.33128834% {opacity:0.999999;transform:translateY(0.0px);}
 42.63803681% {opacity:0.999999;transform:translateY(0.0px);}
 42.94478528% {opacity:0.999999;transform:translateY(0.0px);}
 43.25153374% {opacity:0.999999;transform:translateY(0.0px);}
 43.55828221% {opacity:1.0;transform:translateY(0.0px);}
 43.86503067% {opacity:1.0;transform:translateY(0.0px);}
 44.17177914% {opacity:1;transform:translateY(0.0px);}
 44.47852761% {opacity:1;transform:translateY(0.0px);}
 44.78527607% {opacity:1;transform:translateY(0.0px);}
 45.09202454% {opacity:1;transform:translateY(0.0px);}
 45.39877301% {opacity:1;transform:translateY(0.0px);}
 45.70552147% {opacity:1;transform:translateY(0.0px);}
 46.01226994% {opacity:1;transform:translateY(0.0px);}
 46.31901840% {opacity:1;transform:translateY(0.0px);}
 46.62576687% {opacity:1;transform:translateY(0.0px);}
 46.93251534% {opacity:1;transform:translateY(0.0px);}
 47.23926380% {opacity:1;transform:translateY(0.0px);}
 47.54601227% {opacity:1;transform:translateY(0.0px);}
 47.85276074% {opacity:1;transform:translateY(0.0px);}
 48.15950920% {opacity:1;transform:translateY(0.0px);}
 48.46625767% {opacity:1;transform:translateY(0.0px);}
 48.77300613% {opacity:1;transform:translateY(0.0px);}
 49.07975460% {opacity:1;transform:translateY(0.0px);}
 49.38650307% {opacity:1;transform:translateY(0.0px);}
 49.69325153% {opacity:1;transform:translateY(0.0px);}
 50.00000000% {opacity:1;transform:translateY(0.0px);}
 50.30674847% {opacity:1;transform:translateY(0.0px);}
 50.61349693% {opacity:1;transform:translateY(0.0px);}
 50.92024540% {opacity:1;transform:translateY(0.0px);}
 51.22699387% {opacity:1;transform:translateY(0.0px);}
 51.53374233% {opacity:1;transform:translateY(0.0px);}
 51.84049080% {opacity:1;transform:translateY(0.0px);}
 52.14723926% {opacity:1;transform:translateY(0.0px);}
 52.45398773% {opacity:1;transform:translateY(0.0px);}
 52.76073620% {opacity:1;transform:translateY(0.0px);}
 53.06748466% {opacity:1;transform:translateY(0.0px);}
 53.37423313% {opacity:1;transform:translateY(0.0px);}
 53.68098160% {opacity:1;transform:translateY(0.0px);}
 53.98773006% {opacity:1;transform:translateY(0.0px);}
 54.29447853% {opacity:1;transform:translateY(0.0px);}
 54.60122699% {opacity:1;transform:translateY(0.0px);}
 54.90797546% {opacity:1;transform:translateY(0.0px);}
 55.21472393% {opacity:1;transform:translateY(0.0px);}
 55.52147239% {opacity:1;transform:translateY(0.0px);}
 55.82822086% {opacity:1;transform:translateY(0.0px);}
 56.13496933% {opacity:1;transform:translateY(0.0px);}
 56.44171779% {opacity:1;transform:translateY(0.0px);}
 56.74846626% {opacity:1;transform:translateY(0.0px);}
 57.05521472% {opacity:1;transform:translateY(0.0px);}
 57.36196319% {opacity:1;transform:translateY(0.0px);}
 57.66871166% {opacity:1;transform:translateY(0.0px);}
 57.97546012% {opacity:1;transform:translateY(0.0px);}
 58.28220859% {opacity:1;transform:translateY(0.0px);}
 58.58895706% {opacity:1;transform:translateY(0.0px);}
 58.89570552% {opacity:1;transform:translateY(0.0px);}
 59.20245399% {opacity:1;transform:translateY(0.0px);}
 59.50920245% {opacity:1;transform:translateY(0.0px);}
 59.81595092% {opacity:1;transform:translateY(0.0px);}
 60.12269939% {opacity:1;transform:translateY(0.0px);}
 60.42944785% {opacity:1;transform:translateY(0.0px);}
 60.73619632% {opacity:1;transform:translateY(0.0px);}
 61.04294479% {opacity:1;transform:translateY(0.0px);}
 61.34969325% {opacity:1;transform:translateY(0.0px);}
 61.65644172% {opacity:1;transform:translateY(0.0px);}
 61.96319018% {opacity:1;transform:translateY(0.0px);}
 62.26993865% {opacity:1;transform:translateY(0.0px);}
 62.57668712% {opacity:1;transform:translateY(0.0px);}
 62.88343558% {opacity:1;transform:translateY(0.0px);}
 63.19018405% {opacity:1;transform:translateY(0.0px);}
 63.49693252% {opacity:1;transform:translateY(0.0px);}
 63.80368098% {opacity:1;transform:translateY(0.0px);}
 64.11042945% {opacity:1;transform:translateY(0.0px);}
 64.41717791% {opacity:1;transform:translateY(0.0px);}
 64.72392638% {opacity:1;transform:translateY(0.0px);}
 65.03067485% {opacity:1;transform:translateY(0.0px);}
 65.33742331% {opacity:1;transform:translateY(0.0px);}
 65.64417178% {opacity:1;transform:translateY(0.0px);}
 65.95092025% {opacity:1;transform:translateY(0.0px);}
 66.25766871% {opacity:1;transform:translateY(0.0px);}
 66.56441718% {opacity:1;transform:translateY(0.0px);}
 66.87116564% {opacity:1;transform:translateY(0.0px);}
 67.17791411% {opacity:1;transform:translateY(0.0px);}
 67.48466258% {opacity:1;transform:translateY(0.0px);}
 67.79141104% {opacity:1;transform:translateY(0.0px);}
 68.09815951% {opacity:1;transform:translateY(0.0px);}
 68.40490798% {opacity:1;transform:translateY(0.0px);}
 68.71165644% {opacity:1;transform:translateY(0.0px);}
 69.01840491% {opacity:1;transform:translateY(0.0px);}
 69.32515337% {opacity:1;transform:translateY(0.0px);}
 69.63190184% {opacity:1;transform:translateY(0.0px);}
 69.93865031% {opacity:1;transform:translateY(0.0px);}
 70.24539877% {opacity:1;transform:translateY(0.0px);}
 70.55214724% {opacity:1;transform:translateY(0.0px);}
 70.85889571% {opacity:1;transform:translateY(0.0px);}
 71.16564417% {opacity:1;transform:translateY(0.0px);}
 71.47239264% {opacity:1;transform:translateY(0.0px);}
 71.77914110% {opacity:1;transform:translateY(0.0px);}
 72.08588957% {opacity:1;transform:translateY(0.0px);}
 72.39263804% {opacity:1;transform:translateY(0.0px);}
 72.69938650% {opacity:1;transform:translateY(0.0px);}
 73.00613497% {opacity:1;transform:translateY(0.0px);}
 73.31288344% {opacity:1;transform:translateY(0.0px);}
 73.61963190% {opacity:1;transform:translateY(0.0px);}
 73.92638037% {opacity:1;transform:translateY(0.0px);}
 74.23312883% {opacity:1;transform:translateY(0.0px);}
 74.53987730% {opacity:1;transform:translateY(0.0px);}
 74.84662577% {opacity:1;transform:translateY(0.0px);}
 75.15337423% {opacity:1;transform:translateY(0.0px);}
 75.46012270% {opacity:1;transform:translateY(0.0px);}
 75.76687117% {opacity:1;transform:translateY(0.0px);}
 76.07361963% {opacity:1;transform:translateY(0.0px);}
 76.38036810% {opacity:1;transform:translateY(0.0px);}
 76.68711656% {opacity:1;transform:translateY(0.0px);}
 76.99386503% {opacity:1;transform:translateY(0.0px);}
 77.30061350% {opacity:1;transform:translateY(0.0px);}
 77.60736196% {opacity:1;transform:translateY(0.0px);}
 77.91411043% {opacity:1;transform:translateY(0.0px);}
 78.22085890% {opacity:1;transform:translateY(0.0px);}
 78.52760736% {opacity:1;transform:translateY(0.0px);}
 78.83435583% {opacity:1;transform:translateY(0.0px);}
 79.14110429% {opacity:1;transform:translateY(0.0px);}
 79.44785276% {opacity:1;transform:translateY(0.0px);}
 79.75460123% {opacity:1;transform:translateY(0.0px);}
 80.06134969% {opacity:1;transform:translateY(0.0px);}
 80.36809816% {opacity:1;transform:translateY(0.0px);}
 80.67484663% {opacity:1;transform:translateY(0.0px);}
 80.98159509% {opacity:1;transform:translateY(0.0px);}
 81.28834356% {opacity:1;transform:translateY(0.0px);}
 81.59509202% {opacity:1;transform:translateY(0.0px);}
 81.90184049% {opacity:1;transform:translateY(0.0px);}
 82.20858896% {opacity:1;transform:translateY(0.0px);}
 82.51533742% {opacity:1;transform:translateY(0.0px);}
 82.82208589% {opacity:1;transform:translateY(0.0px);}
 83.12883436% {opacity:1;transform:translateY(0.0px);}
 83.43558282% {opacity:1;transform:translateY(0.0px);}
 83.74233129% {opacity:1;transform:translateY(0.0px);}
 84.04907975% {opacity:1;transform:translateY(0.0px);}
 84.35582822% {opacity:1;transform:translateY(0.0px);}
 84.66257669% {opacity:1;transform:translateY(0.0px);}
 84.96932515% {opacity:1;transform:translateY(0.0px);}
 85.27607362% {opacity:1;transform:translateY(0.0px);}
 85.58282209% {opacity:1;transform:translateY(0.0px);}
 85.88957055% {opacity:1;transform:translateY(0.0px);}
 86.19631902% {opacity:1;transform:translateY(0.0px);}
 86.50306748% {opacity:1;transform:translateY(0.0px);}
 86.80981595% {opacity:1;transform:translateY(0.0px);}
 87.11656442% {opacity:0.999882;transform:translateY(0.0px);}
 87.42331288% {opacity:0.999884;transform:translateY(0.0px);}
 87.73006135% {opacity:0.999897;transform:translateY(0.0px);}
 88.03680982% {opacity:0.999904;transform:translateY(0.0px);}
 88.34355828% {opacity:0.999924;transform:translateY(0.0px);}
 88.65030675% {opacity:0.998472;transform:translateY(0.0px);}
 88.95705521% {opacity:0.973305;transform:translateY(0.0px);}
 89.26380368% {opacity:0.950303;transform:translateY(0.0px);}
 89.57055215% {opacity:0.923864;transform:translateY(0.0px);}
 89.87730061% {opacity:0.900095;transform:translateY(0.0px);}
 90.18404908% {opacity:0.871574;transform:translateY(0.0px);}
 90.49079755% {opacity:0.845217;transform:translateY(0.0px);}
 90.79754601% {opacity:0.814534;transform:translateY(0.0px);}
 91.10429448% {opacity:0.787496;transform:translateY(0.0px);}
 91.41104294% {opacity:0.75806;transform:translateY(0.0px);}
 91.71779141% {opacity:0.73094;transform:translateY(0.0px);}
 92.02453988% {opacity:0.700423;transform:translateY(0.0px);}
 92.33128834% {opacity:0.671918;transform:translateY(0.0px);}
 92.63803681% {opacity:0.643171;transform:translateY(0.0px);}
 92.94478528% {opacity:0.613248;transform:translateY(0.0px);}
 93.25153374% {opacity:0.585839;transform:translateY(0.0px);}
 93.55828221% {opacity:0.553421;transform:translateY(0.0px);}
 93.86503067% {opacity:0.523505;transform:translateY(0.0px);}
 94.17177914% {opacity:0.495258;transform:translateY(0.0px);}
 94.47852761% {opacity:0.46794;transform:translateY(0.0px);}
 94.78527607% {opacity:0.438409;transform:translateY(0.0px);}
 95.09202454% {opacity:0.410857;transform:translateY(0.0px);}
 95.39877301% {opacity:0.382824;transform:translateY(0.0px);}
 95.70552147% {opacity:0.356888;transform:translateY(0.0px);}
 96.01226994% {opacity:0.329208;transform:translateY(0.0px);}
 96.31901840% {opacity:0.303434;transform:translateY(0.0px);}
 96.62576687% {opacity:0.275664;transform:translateY(0.0px);}
 96.93251534% {opacity:0.250537;transform:translateY(0.0px);}
 97.23926380% {opacity:0.221194;transform:translateY(0.0px);}
 97.54601227% {opacity:0.193713;transform:translateY(0.0px);}
 97.85276074% {opacity:0.164349;transform:translateY(0.0px);}
 98.15950920% {opacity:0.137267;transform:translateY(0.0px);}
 98.46625767% {opacity:0.109757;transform:translateY(0.0px);}
 98.77300613% {opacity:0.084691;transform:translateY(0.0px);}
 99.07975460% {opacity:0.055207;transform:translateY(0.0px);}
 99.38650307% {opacity:0.026189;transform:translateY(0.0px);}
 99.69325153% {opacity:8.9e-05;transform:translateY(0.0px);}
 100% {opacity:8.9e-05;transform:translateY(0.0px);}
}
@keyframes sub-copy {
 0.00000000% {opacity:0.0;transform:translateY(0.0px);}
 0.72463768% {opacity:0.0;transform:translateY(0.0px);}
 1.44927536% {opacity:0.0;transform:translateY(0.0px);}
 2.17391304% {opacity:0.0;transform:translateY(0.0px);}
 2.89855072% {opacity:0.0;transform:translateY(0.0px);}
 3.62318841% {opacity:0.0;transform:translateY(0.0px);}
 4.34782609% {opacity:0.0;transform:translateY(0.0px);}
 5.07246377% {opacity:0.0;transform:translateY(0.0px);}
 5.79710145% {opacity:0.0;transform:translateY(0.0px);}
 6.52173913% {opacity:0.0;transform:translateY(0.0px);}
 7.24637681% {opacity:0.0;transform:translateY(0.0px);}
 7.97101449% {opacity:0.0;transform:translateY(0.0px);}
 8.69565217% {opacity:0.0;transform:translateY(0.0px);}
 9.42028986% {opacity:0.0;transform:translateY(0.0px);}
 10.14492754% {opacity:0.0;transform:translateY(0.0px);}
 10.86956522% {opacity:0.0;transform:translateY(0.0px);}
 11.59420290% {opacity:0.0;transform:translateY(0.0px);}
 12.31884058% {opacity:0.0;transform:translateY(0.0px);}
 13.04347826% {opacity:0.0;transform:translateY(0.0px);}
 13.76811594% {opacity:0.0;transform:translateY(0.0px);}
 14.49275362% {opacity:0.0;transform:translateY(0.0px);}
 15.21739130% {opacity:0.0;transform:translateY(0.0px);}
 15.94202899% {opacity:0.0;transform:translateY(0.0px);}
 16.66666667% {opacity:0.0;transform:translateY(0.0px);}
 17.39130435% {opacity:0.0;transform:translateY(0.0px);}
 18.11594203% {opacity:0.0;transform:translateY(0.0px);}
 18.84057971% {opacity:0.0;transform:translateY(0.0px);}
 19.56521739% {opacity:0.0;transform:translateY(0.0px);}
 20.28985507% {opacity:0.0;transform:translateY(0.0px);}
 21.01449275% {opacity:0.0;transform:translateY(0.0px);}
 21.73913043% {opacity:0.0;transform:translateY(0.0px);}
 22.46376812% {opacity:0.0;transform:translateY(0.0px);}
 23.18840580% {opacity:0.0;transform:translateY(0.0px);}
 23.91304348% {opacity:0.0;transform:translateY(0.0px);}
 24.63768116% {opacity:0.0;transform:translateY(0.0px);}
 25.36231884% {opacity:0.0;transform:translateY(0.0px);}
 26.08695652% {opacity:0.0;transform:translateY(0.0px);}
 26.81159420% {opacity:0.0;transform:translateY(0.0px);}
 27.53623188% {opacity:0.0;transform:translateY(0.0px);}
 28.26086957% {opacity:0.0;transform:translateY(0.0px);}
 28.98550725% {opacity:0.0;transform:translateY(0.0px);}
 29.71014493% {opacity:0.0;transform:translateY(0.0px);}
 30.43478261% {opacity:0.0;transform:translateY(0.0px);}
 31.15942029% {opacity:0.0;transform:translateY(0.0px);}
 31.88405797% {opacity:0.0;transform:translateY(0.0px);}
 32.60869565% {opacity:0.0;transform:translateY(0.0px);}
 33.33333333% {opacity:0.0;transform:translateY(0.0px);}
 34.05797101% {opacity:0.0;transform:translateY(0.0px);}
 34.78260870% {opacity:0.0;transform:translateY(0.0px);}
 35.50724638% {opacity:0.0;transform:translateY(0.0px);}
 36.23188406% {opacity:0.0;transform:translateY(0.0px);}
 36.95652174% {opacity:0.0;transform:translateY(0.0px);}
 37.68115942% {opacity:0.0;transform:translateY(0.0px);}
 38.40579710% {opacity:0.0;transform:translateY(0.0px);}
 39.13043478% {opacity:0.0;transform:translateY(0.0px);}
 39.85507246% {opacity:0.0;transform:translateY(0.0px);}
 40.57971014% {opacity:0.0;transform:translateY(0.0px);}
 41.30434783% {opacity:0.0;transform:translateY(0.0px);}
 42.02898551% {opacity:0.0;transform:translateY(0.0px);}
 42.75362319% {opacity:0.0;transform:translateY(0.0px);}
 43.47826087% {opacity:0.0;transform:translateY(0.0px);}
 44.20289855% {opacity:0.0;transform:translateY(0.0px);}
 44.92753623% {opacity:0.0;transform:translateY(0.0px);}
 45.65217391% {opacity:0.0;transform:translateY(0.0px);}
 46.37681159% {opacity:0.0;transform:translateY(0.0px);}
 47.10144928% {opacity:0.0;transform:translateY(0.0px);}
 47.82608696% {opacity:0.0;transform:translateY(0.0px);}
 48.55072464% {opacity:0.0;transform:translateY(0.0px);}
 49.27536232% {opacity:0.0;transform:translateY(0.0px);}
 50.00000000% {opacity:0.0;transform:translateY(0.0px);}
 50.72463768% {opacity:0.0;transform:translateY(0.0px);}
 51.44927536% {opacity:0.0;transform:translateY(0.0px);}
 52.17391304% {opacity:0.0;transform:translateY(0.0px);}
 52.89855072% {opacity:0.0;transform:translateY(0.0px);}
 53.62318841% {opacity:0.0;transform:translateY(0.0px);}
 54.34782609% {opacity:0.0;transform:translateY(0.0px);}
 55.07246377% {opacity:0.0;transform:translateY(0.0px);}
 55.79710145% {opacity:0.0;transform:translateY(0.0px);}
 56.52173913% {opacity:0.0;transform:translateY(0.0px);}
 57.24637681% {opacity:0.0;transform:translateY(0.0px);}
 57.97101449% {opacity:0.0;transform:translateY(0.0px);}
 58.69565217% {opacity:0.0;transform:translateY(0.0px);}
 59.42028986% {opacity:0.0;transform:translateY(0.0px);}
 60.14492754% {opacity:0.0;transform:translateY(0.0px);}
 60.86956522% {opacity:0.0;transform:translateY(0.0px);}
 61.59420290% {opacity:0.0;transform:translateY(0.0px);}
 62.31884058% {opacity:0.0;transform:translateY(0.0px);}
 63.04347826% {opacity:0.0;transform:translateY(0.0px);}
 63.76811594% {opacity:0.0;transform:translateY(0.0px);}
 64.49275362% {opacity:0.088053;transform:translateY(17.125px);}
 65.21739130% {opacity:0.163671;transform:translateY(15.125px);}
 65.94202899% {opacity:0.236775;transform:translateY(13.875px);}
 66.66666667% {opacity:0.301052;transform:translateY(13.125px);}
 67.39130435% {opacity:0.365096;transform:translateY(12.0px);}
 68.11594203% {opacity:0.422598;transform:translateY(11.0px);}
 68.84057971% {opacity:0.483036;transform:translateY(10.0px);}
 69.56521739% {opacity:0.527508;transform:translateY(9.0px);}
 70.28985507% {opacity:0.574913;transform:translateY(8.0px);}
 71.01449275% {opacity:0.62123;transform:translateY(7.0px);}
 71.73913043% {opacity:0.669914;transform:translateY(6.0px);}
 72.46376812% {opacity:0.703837;transform:translateY(6.0px);}
 73.18840580% {opacity:0.738444;transform:translateY(5.0px);}
 73.91304348% {opacity:0.775959;transform:translateY(4.0px);}
 74.63768116% {opacity:0.798457;transform:translateY(4.0px);}
 75.36231884% {opacity:0.828252;transform:translateY(3.0px);}
 76.08695652% {opacity:0.852424;transform:translateY(3.0px);}
 76.81159420% {opacity:0.875978;transform:translateY(3.0px);}
 77.53623188% {opacity:0.892502;transform:translateY(2.0px);}
 78.26086957% {opacity:0.914359;transform:translateY(2.0px);}
 78.98550725% {opacity:0.931458;transform:translateY(2.0px);}
 79.71014493% {opacity:0.951129;transform:translateY(1.0px);}
 80.43478261% {opacity:0.951149;transform:translateY(1.0px);}
 81.15942029% {opacity:0.963768;transform:translateY(1.0px);}
 81.88405797% {opacity:0.976448;transform:translateY(1.0px);}
 82.60869565% {opacity:0.981857;transform:translateY(1.0px);}
 83.33333333% {opacity:0.98565;transform:translateY(1.0px);}
 84.05797101% {opacity:0.99892;transform:translateY(0.0px);}
 84.78260870% {opacity:0.998923;transform:translateY(0.0px);}
 85.50724638% {opacity:0.99892;transform:translateY(0.0px);}
 86.23188406% {opacity:0.998923;transform:translateY(0.0px);}
 86.95652174% {opacity:0.998911;transform:translateY(0.0px);}
 87.68115942% {opacity:0.998977;transform:translateY(0.0px);}
 88.40579710% {opacity:0.998998;transform:translateY(0.0px);}
 89.13043478% {opacity:0.999226;transform:translateY(0.0px);}
 89.85507246% {opacity:0.999189;transform:translateY(0.0px);}
 90.57971014% {opacity:0.999327;transform:translateY(0.0px);}
 91.30434783% {opacity:0.999397;transform:translateY(0.0px);}
 92.02898551% {opacity:0.999628;transform:translateY(0.0px);}
 92.75362319% {opacity:0.999623;transform:translateY(0.0px);}
 93.47826087% {opacity:0.999635;transform:translateY(0.0px);}
 94.20289855% {opacity:0.999637;transform:translateY(0.0px);}
 94.92753623% {opacity:0.999655;transform:translateY(0.0px);}
 95.65217391% {opacity:0.999625;transform:translateY(0.0px);}
 96.37681159% {opacity:0.9997;transform:translateY(0.0px);}
 97.10144928% {opacity:0.999716;transform:translateY(0.0px);}
 97.82608696% {opacity:0.999883;transform:translateY(0.0px);}
 98.55072464% {opacity:0.999922;transform:translateY(0.0px);}
 99.27536232% {opacity:1;transform:translateY(0.0px);}
 100% {opacity:1;transform:translateY(0.0px);}
}
.body-copy { opacity: clamp(0, calc(var(--ef-progress) * 3.581304106 + -0.335688265), 1); }